<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="c4768f14-f10c-4141-9151-1374fb04546b" Version="0.0.1.1" Publisher="CN=Jarno" />
  <Properties>
    <DisplayName>De Wereldfietser</DisplayName>
    <PublisherDisplayName>Jarno</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="De Wereldfietser" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="De Wereldfietser" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#0278A0" />
      </VisualElements>
      <ApplicationContentUriRules>
        <Rule Match="http://www.wereldfietser.nl/rss.xml" Type="include" />
        <Rule Match="http://www.wereldfietser.nl/phpbb/feed.php" Type="include" />
        <Rule Match="http://vimeo.com/groups/wereldfietser/videos/rss" Type="include" />
      </ApplicationContentUriRules>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>